<% content_for :body_classes, "login-page" %>

<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Admin</b>CTN</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Ingrese sus datos para ingresar al Administrador</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Contraseña" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <% if devise_mapping.rememberable? -%>
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <%= f.check_box :remember_me %>
              Recuerdame
            </label>
          </div>
        </div>
        <% end -%>
        <!-- /.col -->
        <div class="col-xs-4">
          <%= f.submit "Ingresar", class: "btn btn-primary btn-block btn-flat" %>
        </div>
        <!-- /.col -->
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <!-- /.login-box-body -->
</div>
